body {
    .about-me {
        width: 100vw;
        height: 100vh;
        background-color: #000;
        .about-me-header-wrapper {
          height: 25%;

          .about-me-header {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 80px;
            box-sizing: border-box;
            border: 6px solid #fff;
            background-color: #000;
            h1{
              text-transform: uppercase;
              color: #fff;
              font-family: 'Gothic A1', sans-serif;
              text-align: center;
              font-size: 32px;
              line-height: 20px;
            }
          }
        }
        .about-me-text-wrapper {
          height: 75%;
          width: 100%;
          .about-me-text {
            text-align: justify;
            p{
              color: #fff;
              font-family: 'Gothic A1', sans-serif;
              margin: 30px;
              font-weight: 200;
            }
          }
        }
    }
}

@media(min-width: 540px) {
  body {
    .about-me {
      height: 50vh;
      display: flex;
      flex-wrap: wrap;
      .about-me-header-wrapper {
        width: 50%;
        height: 100%;
        .about-me-header {
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          height: 180px;
          h1 {
            font-size: 54px;
            line-height: 70px;
            text-align: left;
            padding: 10px;
            margin-top: 10px;
            margin-left: 8px;
          }
        }
      }
      .about-me-text-wrapper {
        width: 50%;
        height: 100%;
        .about-me-text {
          position: relative;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
          p {
            width: 100%;
            font-weight: 100;
            max-width: 350px;
            margin: 0 0 0 0;
          }
        }
      }
    }
  }
}