html {
  scroll-behavior: smooth;
}

body {
    .form {
        height: 100vh;
        width: 100vw;
        background-color: #000;
        .contact-me {
          width: 260px;
          height: 60px;
          padding-top: 15px;
          position: relative;
          left: 50%;
          top: 12%;
          transform: translate(-50%, -50%);
          h1{
            font-family: 'Gothic A1', sans-serif;
            color: #fff;
            padding: 5px;
            font-size: 32px;
            text-align: center;
            margin: 0;
          }
        }

        .contact-me::before {
          position: absolute;
          content: '';
          height: 0;
          width: 0;
          border: 6px solid transparent;
          bottom: 0;
          left: 0;
          box-sizing: border-box;
        }
        .contact-me::after {
          position: absolute;
          content: '';
          height: 0;
          width: 0;
          border: 6px solid transparent;
          top: 0;
          right: 0;
          box-sizing: border-box;
        } 
        .contact-me-active::before {
          height: 75px;
          width: 260px;
          border: 4px solid #fff;
          border-right: none;
          border-bottom: none;
          transition: height 0.5s linear,
          width 0.5s linear 0.5s;
        }
        .contact-me-active::after {
          height: 75px;
          width: 260px;
          border: 4px solid #fff;
          border-left: none;
          border-top: none;
          transition: height 0.5s linear,
          width 0.5s linear 0.5s;
        }


        form {
          position: relative;
          top: 43%;
          left: 50%;
          transform: translate(-50%, -50%);
          .description {
            position: relative;
            color: #fff;
            width: 250px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            font-family: 'Gothic A1', sans-serif;
            font-size: 14px;
            font-weight: 300;
          }
          .input{
            width: 250px;
            position: relative;
            height: 30px;
            background-color: #000;
            border: 2px dashed #fff;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Gothic A1', sans-serif;
            font-size: 16px;
            color: #fff;
            
          }
          
          .text-message{
            width: 250px;
            position: relative;
            height: 30px;
            background-color: #000;
            border: 2px dashed #fff;
            left: 50%;
            transform: translateX(-50%);
            height: 160px;
            font-family: 'Gothic A1', sans-serif;
            font-size: 16px;
            color: white;
          } 
          
          .submit-button {
            width: 200px;
            position: relative;
            height: 40px;
            background-color: #000;
            border: 3px solid #fff;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;
            color: white;
            font-size: 20px;
            padding: 2px;
            font-family: 'Gothic A1', sans-serif;
          }
        }
      }
}

@media(min-width: 540px) {
  body {
    .form {
      .contact-me {
        width: 350px;
        h1 {
          font-size: 42px;
          padding-top: 0;          
        }
      }
      .contact-me-active::before {
        height: 78px;
        width: 350px;
        border: 4px solid #fff;
        border-right: none;
        border-bottom: none;
        transition: height 0.5s linear,
        width 0.5s linear 0.5s;
      }
      .contact-me-active::after {
        height: 78px;
        width: 350px;
        border: 4px solid #fff;
        border-left: none;
        border-top: none;
        transition: height 0.5s linear,
        width 0.5s linear 0.5s;
      }
    }
    form {
      width: 360px;
      transform: translate(-50%, -55%) !important;
      .input {
        width: 340px !important;
        height: 40px !important;
        font-size: 20px !important;
      }
      .description {
        width: 340px !important;
        font-size: 16px !important;
        margin-top: 15px !important;
      }
      .text-message {
        width: 340px !important;
        height: 270px !important;
        font-size: 20px !important;
      }
    }

    .submit-button {
      font-size: 24px !important;
      padding: 5px !important;
      height: 50px !important;
    }
  }
}

@media(min-width: 992px) {
  body {
    .form {
      .contact-me {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-right: 50px;
        padding-left: 50px;
        h1 {
          font-size: 52px;
          padding-top: 10px;
          height: 80px;
        }
      }
      .contact-me::before {
        transform: translateY(27px);
      }
      .contact-me-active::before {
        height: 105px;
        width: 450px;
        border: 4px solid #fff;
        border-right: none;
        border-bottom: none;
        transition: height 0.5s linear,
        width 0.5s linear 0.5s;
      }
      .contact-me-active::after {
        height: 105px;
        width: 450px;
        border: 4px solid #fff;
        border-left: none;
        border-top: none;
        transition: height 0.5s linear,
        width 0.5s linear 0.5s;
      }
    }
    form {
      transform: translate(-50%, -40%) !important;
      .input {
        width: 450px !important;
        height: 40px !important;
        font-size: 22px !important;
      }

      .description {
        width: 450px !important;
        font-size: 20px !important;
      }
      .text-message {
        width: 450px !important;
        height: 300px !important;
        font-size: 22px !important;
      }

      .submit-button {
        margin-top: 30px !important;
        font-size: 28px !important;
        width: 300px !important;
      }
    }
  }
}