body {
    .skills {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        .skills-header {
          position: relative;
          top: 2.5%;
          padding-top: 15px;
          width: 100%;
          h1 {
            span {
              box-sizing: border-box;
              display: inline-block;
              background-color: #000;
              color: #fff;
              width: 50%;
              text-align: right;
              letter-spacing: 3px;
              padding-right: 2px;
              padding-top: 4px;
              padding-bottom: 2px;
            }
            font-family: 'Gothic A1', sans-serif;
            font-size: 32px;
            width: 100%;
            letter-spacing: 3px;
            font-weight: 800;
          }
        }
        .icon {
          background-color: #fff;
          width: 50%;
          height: 25vh;
          svg{
            height: 65px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          p {
            text-align: center;
            padding: 20px;
            font-family: 'Gothic A1', sans-serif;
            font-weight: 200;
          }
        }
  
        .typescript {
          p {
            padding-top: 40px;
          }
        }
  
        .angular {
          svg {
            height: 85px;
          }
        }
  
        .javascript {
          svg {
            height: 75px;
          }
          p{
            padding-top: 30px;
          }
        }
  
        .nodejs {
          p {
            padding-top: 40px;
          }
        }
  
        .nestjs {
          svg {
            height: 80px;
          }
        }
  
        .postgreesql {
          p {
            padding-top: 35px;
          }
        }
      }
}

@media(min-width: 540px) {
  body {
    .skills {
      height: 50vh;
      padding-bottom: 5vh;
      .skills-header {
        height: 120px;
        span {
          padding-top: 8px;
          padding-bottom: 0px;
        }

        h1 {
          font-size: 42px;
        }
      }
      .icon {
        width: 16.66%;
        p {
          text-align: center;
          padding: 0px;
          margin-top: 90px;
          font-family: 'Gothic A1', sans-serif;
          font-weight: 200;
        }
      }

      .typescript {
        p {
          margin-top: 110px;
        }
      }

      .javascript {
        p {
          margin-top: 100px;
        }
      }

      .nodejs {
        p {
          margin-top: 110px;
        }
      }

      .nestjs {
        p {
          margin-top: 95px;
        }
      }

      .postgreesql {
        p {
          margin-top: 105px;
        }
        svg {
          height: 70px;
        }
      }


    }
  }
}