body {
    .skills {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        .skills-header {
          position: relative;
          top: 2.5%;
          padding-top: 15px;
          width: 100%;
          h1 {
            span {
              box-sizing: border-box;
              display: inline-block;
              background-color: #000;
              color: #fff;
              width: 50%;
              text-align: right;
              letter-spacing: 3px;
              padding-right: 2px;
              padding-top: 4px;
              padding-bottom: 2px;
            }
            font-family: 'Gothic A1', sans-serif;
            font-size: 32px;
            width: 100%;
            letter-spacing: 3px;
            font-weight: 800;
          }
        }
        .icon {
          background-color: #fff;
          width: 50%;
          height: 25vh;
          .skill-icon {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 70%;
            margin-bottom: 0;
            svg{
              height: 65px;
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -35%);
            }
            .angular {
                height: 80px;              
            }
      
            .javascript {
              height: 72px;
            }
    
            .nestjs {
                height: 78px;
            }

            .postgreesql {
            margin-top: 10px;
            }
          }
          
          p {
            display: inline-block;
            height: 30%;
            text-align: center;
            font-family: 'Gothic A1', sans-serif;
            font-weight: 200;
            width: 100%;
            margin: 0;
          }
        }
      }
}

@media(min-width: 540px) {
  body {
    .skills {
      height: 50vh;
      padding-bottom: 5vh;
      .skills-header {
        height: 120px;
        span {
          padding-top: 8px;
          padding-bottom: 0px;
        }

        h1 {
          font-size: 42px;
        }
      }
      .icon {
        width: 16.66%;
        p {
          text-align: center;
          padding: 0px;
          margin-top: 90px;
          font-family: 'Gothic A1', sans-serif;
          font-weight: 200;
        }
      }

      .typescript {
        p {
          margin-top: 110px;
        }
      }

      .javascript {
        p {
          margin-top: 100px;
        }
      }

      .nodejs {
        p {
          margin-top: 110px;
        }
      }

      .nestjs {
        p {
          margin-top: 95px;
        }
      }

      .postgreesql {
        p {
          margin-top: 105px;
        }
        svg {
          height: 70px;
        }
      }


    }
  }
}