body {
  .tools {
    z-index: -2;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    .tools-header {
      position: relative;
      top: 2.5%;
      padding-top: 15px;
      width: 100%;
      .tools-header-text {
        .first {
          box-sizing: border-box;
          display: inline-block;
          background-color: #000;
          color: #fff;
          width: 50%;
          text-align: right;
          letter-spacing: 3px;
          padding-right: 1px;
          padding-top: 4px;
          padding-bottom: 2px;
          .first-text {
            opacity: 0;
            transition: 1s;
            transition-delay: 1s;
          }
          .first-text-active {
            opacity: 1;
          }
        }

        
        .second {
          display: inline-block;
          padding-left: 3px;
          color: #000;
          width: calc(50vw - 3px);
          .second-text {
            z-index: 3;
            position: absolute;
            top: 37%;
            opacity: 0;
            transition: 1s;
            transition-delay: 1s;
          }
          .second-text-active {
            opacity: 1;
          }
        }
        .second::before {
          content: '';
            position: absolute;
            top: 36%;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 40px;
            background-color: #fff;
            z-index: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1s;
            .second-text {
              z-index: 2;
              color: black;
            }
        }
        .second-active::before {
          transform: scaleX(1);
          background-color: #fff;
        }
        font-family: "Gothic A1", sans-serif;
        font-size: 32px;
        color: #fff;
        width: 100%;
        letter-spacing: 3px;
        font-weight: 800;
      }
    }
    .icon {
      width: 50%;
      height: 25vh;
      .tools-icon {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70%;
        margin-bottom: 0;
        svg {
          height: 65px;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -35%);
          path {
            fill: #fff;
          }
        }
        .bootstrap {
          height: 74px;
        }

        .git {
          height: 70px;
        }

        .npm {
          height: 80px;
        }
      }
      p {
        display: inline-block;
        height: 30%;
        text-align: center;
        font-family: "Gothic A1", sans-serif;
        font-weight: 200;
        width: 100%;
        margin: 0;
        color: #fff;
      }
    }
  }
}

@media (min-width: 540px) {
  body {
    .tools {
      height: 50vh;
      padding-bottom: 5vh;
      .tools-header {
        height: 120px;
        span {
          padding-top: 6px;
          padding-bottom: 0px;
        }

        .tools-header-text {
          font-size: 42px;
          .second::before {
            height: 59px;
            top: 35% !important;
          }
          .second {
            .second-text {
              top: 35.5%;
            }
          }
        }
      }
      .icon {
        width: 16.66%;
        .tools-icon {
          svg {
            transform: translate(-50%, -5%);
          }
        }
        p {
          text-align: center;
          padding: 0px;
          font-family: "Gothic A1", sans-serif;
          font-weight: 200;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    .tools {
      .tools-header {
        .tools-header-text {
          font-size: 52px;

          .second {
            .second-text {
              top: 42%;
            }
          } 
          .second::before {
            top: 42% !important;
            height: 71px;
          }
        }
      }
      .icon {
        .tools-icon {
          svg {
            height: 95px !important;
          }
        }
        p {
          font-size: 20px;
          padding-top: 40px;
        }

        .git {
          height: 100px;
        }

        .npm {
          height: 105px;
        }
      }
    }
  }
}