body {
  .tools {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    .tools-header {
      position: relative;
      top: 2.5%;
      padding-top: 15px;
      width: 100%;
      h1 {
        .first {
          box-sizing: border-box;
          display: inline-block;
          background-color: #000;
          color: #fff;
          width: 50%;
          text-align: right;
          letter-spacing: 3px;
          padding-right: 1px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        .second {
          display: inline-block;
          padding-left: 3px;
          color: #000;
          background-color: #fff;
          width: calc(50vw - 3px);
        }
        font-family: "Gothic A1", sans-serif;
        font-size: 32px;
        color: #fff;
        width: 100%;
        letter-spacing: 3px;
        font-weight: 800;
      }
    }
    .icon {
      width: 50%;
      height: 25vh;
      .skill-icon {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70%;
        margin-bottom: 0;
        svg {
          height: 65px;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -35%);
          path {
            fill: #fff;
          }
        }
        .bootstrap {
          height: 74px;
        }

        .git {
          height: 70px;
        }

        .npm {
          height: 80px;
        }
      }
      p {
        display: inline-block;
        height: 30%;
        text-align: center;
        font-family: "Gothic A1", sans-serif;
        font-weight: 200;
        width: 100%;
        margin: 0;
        color: #fff;
      }
    }
  }
}

@media (min-width: 540px) {
  body {
    .tools {
      height: 50vh;
      padding-bottom: 5vh;
      .tools-header {
        height: 120px;
        span {
          padding-top: 6px;
          padding-bottom: 0px;
        }

        h1 {
          font-size: 42px;
        }
      }
      .icon {
        width: 16.66%;
        .skill-icon {
          svg {
            transform: translate(-50%, -5%);
          }
        }
        p {
          text-align: center;
          padding: 0px;
          font-family: "Gothic A1", sans-serif;
          font-weight: 200;
        }
      }
    }
  }
}
