@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  height: 600vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body header {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

body header .header-logo {
  font-family: 'Gothic A1', sans-serif;
  height: 60px;
  width: 158px;
  position: relative;
  top: 2.5%;
  left: 5%;
}

body header .header-logo .name {
  background-color: #fff;
  margin-top: 0;
  padding: 0;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 5px;
}

body header .header-logo .profession {
  color: #fff;
  background-color: #000;
  height: 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 3px;
}

body header .hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

body header .hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 2px 2px #51a7e8;
          box-shadow: 0 0 2px 2px #51a7e8;
}

body header .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 35px;
  height: 30px;
  right: 3%;
  top: 2%;
  border: 2px solid #000;
  padding: 10px;
  background-color: #fff;
  z-index: 10;
}

body header .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

body header .hamburger__bars:before, body header .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  content: '';
}

body header .hamburger__bars:before {
  top: -12px;
  -webkit-transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

body header .hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom 100ms 250ms ease-in,  -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in,  -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in,  transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in,  transform 220ms ease-in-out,  -webkit-transform 220ms ease-in-out;
}

body header .hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

body header .hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

body header .hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out,  -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out,  -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out,  transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out,  transform 220ms 120ms ease-in-out,  -webkit-transform 220ms 120ms ease-in-out;
}

body header .hamburger:focus, body header .hamburger__container:focus {
  outline: none;
}

body header .navigation {
  position: fixed;
  left: 100%;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -webkit-transition: left .5s;
  transition: left .5s;
}

body header .navigation ul {
  list-style: none;
  position: relative;
  top: 43%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header .navigation ul li {
  font-family: 'Gothic A1', sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 46px;
  font-weight: 200;
}

body header .navigation ul li img {
  margin-top: 10px;
  height: 32px;
}

body header .navigation ul li .github-icon {
  margin-right: 5px;
}

body header .navigation ul li .linkedin-icon {
  margin-left: 5px;
}

body header .welcome-header {
  font-family: 'Gothic A1', sans-serif;
  position: relative;
  width: 316px;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header .welcome-header h1 {
  font-size: 30px;
}

body header .welcome-header span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 3px 6px 2px 6px;
}

body .about-me {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

body .about-me .about-me-header {
  position: relative;
  left: 50%;
  top: 13%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid #fff;
  background-color: #000;
}

body .about-me .about-me-header h1 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  font-size: 32px;
  line-height: 20px;
}

body .about-me .about-me-text {
  position: relative;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: justify;
}

body .about-me .about-me-text p {
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
  margin: 30px;
  font-weight: 200;
}

body .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

body .skills .skills-header {
  position: relative;
  top: 2.5%;
  padding-top: 15px;
  width: 100%;
}

body .skills .skills-header h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 32px;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 800;
}

body .skills .skills-header h1 span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 50%;
  text-align: right;
  letter-spacing: 3px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
}

body .skills .icon {
  background-color: #fff;
  width: 50%;
  height: 25vh;
}

body .skills .icon svg {
  height: 65px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .skills .icon p {
  text-align: center;
  padding: 20px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 200;
}

body .skills .typescript p {
  padding-top: 40px;
}

body .skills .angular svg {
  height: 85px;
}

body .skills .javascript svg {
  height: 75px;
}

body .skills .javascript p {
  padding-top: 30px;
}

body .skills .nodejs p {
  padding-top: 40px;
}

body .skills .nestjs svg {
  height: 80px;
}

body .skills .postgreesql p {
  padding-top: 35px;
}

body .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

body .tools .tools-header {
  position: relative;
  top: 2.5%;
  padding-top: 15px;
  width: 100%;
}

body .tools .tools-header h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 32px;
  color: #fff;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 800;
  background-color: white;
}

body .tools .tools-header h1 .first {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 50%;
  text-align: right;
  letter-spacing: 3px;
  padding-right: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
}

body .tools .tools-header h1 .second {
  padding-left: 3px;
  color: #000;
}

body .tools .icon {
  width: 50%;
  height: 25vh;
}

body .tools .icon svg {
  height: 62px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .tools .icon svg path {
  fill: #fff;
}

body .tools .icon p {
  text-align: center;
  padding: 20px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 200;
  color: #fff;
}

body .tools .bootstrap svg {
  height: 74px;
}

body .tools .bootstrap p {
  padding: 30px;
}

body .tools .git svg {
  height: 70px;
}

body .tools .git p {
  padding: 35px;
}

body .tools .sass p {
  padding-top: 38px;
}

body .tools .npm svg {
  height: 80px;
}

body .tools .github p {
  padding-top: 40px;
}

body .tools .figma p {
  padding-top: 40px;
}

body .projects {
  height: 100vh;
  width: 100vw;
}

body .projects .projects-header {
  width: 300px;
  height: 60px;
  padding-top: 25px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .projects .projects-header h1 {
  margin: 0;
  color: #fff;
  background-color: #000;
  font-size: 32px;
  font-family: 'Gothic A1', sans-serif;
  padding: 10px;
  text-align: center;
}

body .form {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

body .form .contact-me {
  width: 300px;
  height: 60px;
  padding-top: 15px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .form .contact-me h1 {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
  padding: 5px;
  border: 5px solid white;
  font-size: 32px;
  text-align: center;
}

body .form form {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .form form .input {
  width: 250px;
  position: relative;
  height: 30px;
  background-color: #000;
  border: 2px dashed #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  color: white;
}

body .form form .text-message {
  width: 250px;
  position: relative;
  height: 30px;
  background-color: #000;
  border: 2px dashed #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  height: 160px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  color: white;
}

body .form form .submit-button {
  width: 200px;
  position: relative;
  height: 40px;
  background-color: #000;
  border: 3px solid #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding: 2px;
  font-family: 'Gothic A1', sans-serif;
}
/*# sourceMappingURL=style.css.map */