@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  height: 450vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

body header {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

body header .navigation-menu {
  display: none;
}

body header .header-logo {
  font-family: 'Gothic A1', sans-serif;
  height: 60px;
  width: 158px;
  position: relative;
  top: 2.5%;
  left: 5%;
}

body header .header-logo .name {
  background-color: #fff;
  margin-top: 0;
  padding: 0;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 5px;
}

body header .header-logo .profession {
  -webkit-box-shadow: inset 0 0 0 #000;
          box-shadow: inset 0 0 0 #000;
  height: 28px;
  padding-left: 3px;
  -webkit-transition: -webkit-box-shadow ease-out 0.6s;
  transition: -webkit-box-shadow ease-out 0.6s;
  transition: box-shadow ease-out 0.6s;
  transition: box-shadow ease-out 0.6s, -webkit-box-shadow ease-out 0.6s;
  outline: none;
}

body header .header-logo .profession span {
  -webkit-transition: color ease-out 0.6s;
  transition: color ease-out 0.6s;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

body header .header-logo .profession-active {
  -webkit-box-shadow: inset 158px 0 0 0 #000;
          box-shadow: inset 158px 0 0 0 #000;
}

body header .header-logo .profession-active span {
  color: #fff;
}

body header .hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

body header .hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 2px 2px #51a7e8;
          box-shadow: 0 0 2px 2px #51a7e8;
}

body header .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 35px;
  height: 30px;
  right: 3%;
  top: 2%;
  border: 2px solid #000;
  padding: 10px;
  background-color: #fff;
  z-index: 10;
}

body header .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

body header .hamburger__bars:before, body header .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  content: '';
}

body header .hamburger__bars:before {
  top: -12px;
  -webkit-transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

body header .hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom 100ms 250ms ease-in,  -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in,  -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in,  transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in,  transform 220ms ease-in-out,  -webkit-transform 220ms ease-in-out;
}

body header .hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

body header .hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

body header .hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out,  -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out,  -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out,  transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out,  transform 220ms 120ms ease-in-out,  -webkit-transform 220ms 120ms ease-in-out;
}

body header .hamburger:focus, body header .hamburger__container:focus {
  outline: none;
}

body header .navigation {
  position: fixed;
  left: 100%;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -webkit-transition: left .5s;
  transition: left .5s;
}

body header .navigation ul {
  list-style: none;
  position: relative;
  top: 43%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header .navigation ul li {
  font-family: 'Gothic A1', sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 46px;
  font-weight: 200;
}

body header .navigation ul li a {
  text-decoration: none;
  color: #000;
}

body header .navigation ul li img {
  margin-top: 10px;
  height: 32px;
}

body header .navigation ul li .github-icon {
  margin-right: 5px;
}

body header .navigation ul li .linkedin-icon {
  margin-left: 5px;
}

body header .welcome-header {
  font-family: 'Gothic A1', sans-serif;
  position: relative;
  width: 316px;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header .welcome-header h1 {
  font-size: 30px;
}

body header .welcome-header .header-name {
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 #000;
          box-shadow: inset 0 0 0 #000;
  color: #000;
  padding: 3px 6px 2px 6px;
  -webkit-transition: ease-out .6s;
  transition: ease-out .6s;
}

body header .welcome-header .header-name-active {
  -webkit-box-shadow: inset 316px 0 0 #000;
          box-shadow: inset 316px 0 0 #000;
  color: #fff;
}

@media (min-width: 540px) {
  body header .navigation {
    display: none;
  }
  body header .header-logo {
    width: 196px;
  }
  body header .header-logo .name {
    font-size: 22px;
    margin-bottom: 2px;
  }
  body header .header-logo .profession {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  body header .header-logo .profession span {
    font-size: 20px;
  }
  body header .header-logo .profession-active {
    -webkit-box-shadow: inset 196px 0 0 0 #000;
            box-shadow: inset 196px 0 0 0 #000;
  }
  body header .welcome-header {
    width: 530px;
  }
  body header .welcome-header h1 {
    font-size: 50px;
    line-height: 68px;
  }
  body header .navigation-menu {
    display: inherit;
    list-style: none;
    position: absolute;
    width: 420px;
    right: 2%;
    top: 3%;
  }
  body header .navigation-menu li {
    display: inline-block;
    font-size: 17px;
    font-family: 'Gothic A1', sans-serif;
    margin-left: 10px;
    font-weight: 200;
  }
  body header .navigation-menu li a {
    text-decoration: none;
    color: #000;
  }
  body header .navigation-menu li img {
    height: 19px;
  }
  body header .navigation-menu li .github-icon {
    margin-right: 3px;
  }
  body header .navigation-menu li .linkedin-icon {
    margin-left: 4px;
  }
  body header .header-logo {
    margin-left: 0px;
    position: relative;
    top: 2%;
  }
  body header .hamburger .hamburger__container {
    display: none;
  }
}

@media (min-width: 992px) {
  body header .header-logo {
    left: 2%;
    top: 3%;
    width: 226px;
  }
  body header .header-logo .name {
    font-size: 26px;
  }
  body header .header-logo .profession {
    padding: 4px;
  }
  body header .header-logo .profession span {
    font-size: 23px;
  }
  body header .header-logo .profession-active {
    -webkit-box-shadow: inset 226px 0 0 0 #000;
            box-shadow: inset 226px 0 0 0 #000;
  }
  body .navigation-menu {
    right: 3%;
    width: 590px !important;
  }
  body .navigation-menu li {
    font-size: 22px !important;
  }
  body .navigation-menu li .link {
    display: block;
    -webkit-box-shadow: inset 0 0 0 #000;
            box-shadow: inset 0 0 0 #000;
    -webkit-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    outline: none;
    padding: 2px;
  }
  body .navigation-menu li .link:hover {
    -webkit-box-shadow: inset 100px 0 0 0 #000;
            box-shadow: inset 100px 0 0 0 #000;
    color: #fff;
  }
  body .navigation-menu li img {
    height: 24px !important;
  }
  body .welcome-header {
    width: 870px !important;
    top: 36% !important;
  }
  body .welcome-header h1 {
    font-size: 82px !important;
    line-height: 94px !important;
  }
  body .welcome-header .header-name {
    padding: 8px 12px 6px 6px !important;
  }
}

body .about-me {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

body .about-me .about-me-header-wrapper {
  height: 25%;
}

body .about-me .about-me-header-wrapper .about-me-header {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
}

body .about-me .about-me-header-wrapper .about-me-header h1 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  font-size: 32px;
  line-height: 20px;
  padding-top: 30px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body .about-me .about-me-header-wrapper .about-me-header::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 6px solid transparent;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .about-me .about-me-header-wrapper .about-me-header::after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 6px solid transparent;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .about-me .about-me-header-wrapper .active::before {
  height: 80px;
  width: 250px;
  border: 4px solid #fff;
  border-right: none;
  border-bottom: none;
  -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

body .about-me .about-me-header-wrapper .active::after {
  height: 80px;
  width: 250px;
  border: 4px solid #fff;
  border-left: none;
  border-top: none;
  -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

body .about-me .about-me-header-wrapper .active h1 {
  opacity: 1;
}

body .about-me .about-me-text-wrapper {
  height: 75%;
  width: 100%;
}

body .about-me .about-me-text-wrapper .about-me-text {
  text-align: justify;
}

body .about-me .about-me-text-wrapper .about-me-text p {
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
  margin: 30px;
  font-weight: 200;
}

@media (min-width: 540px) {
  body .about-me {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .about-me .about-me-header-wrapper {
    width: 50%;
    height: 100%;
  }
  body .about-me .about-me-header-wrapper .about-me-header {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 180px;
  }
  body .about-me .about-me-header-wrapper .about-me-header h1 {
    font-size: 54px;
    line-height: 70px;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-left: 8px;
  }
  body .about-me .about-me-header-wrapper .active::before {
    height: 180px;
    width: 250px;
    border: 6px solid #fff;
    border-right: none;
    border-bottom: none;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body .about-me .about-me-header-wrapper .active::after {
    height: 180px;
    width: 250px;
    border: 6px solid #fff;
    border-left: none;
    border-top: none;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body .about-me .about-me-text-wrapper {
    width: 50%;
    height: 100%;
  }
  body .about-me .about-me-text-wrapper .about-me-text {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
  }
  body .about-me .about-me-text-wrapper .about-me-text p {
    width: 100%;
    font-weight: 100;
    max-width: 350px;
    margin: 0 0 0 0;
  }
}

@media (min-width: 992px) {
  body .about-me {
    overflow: hidden;
  }
  body .about-me .about-me-header-wrapper {
    width: 40%;
  }
  body .about-me .about-me-header-wrapper .about-me-header {
    width: 340px;
    height: 250px;
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body .about-me .about-me-header-wrapper .about-me-header h1 {
    font-size: 84px;
    line-height: 84px;
    padding-top: 20px;
  }
  body .about-me .about-me-header-wrapper .active::before {
    height: 250px;
    width: 340px;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body .about-me .about-me-header-wrapper .active::after {
    height: 250px;
    width: 340px;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body .about-me .about-me-text-wrapper {
    width: 60%;
  }
  body .about-me .about-me-text-wrapper .about-me-text {
    -webkit-transform: translate(-42%, -50%);
            transform: translate(-42%, -50%);
    left: 50%;
    top: 50%;
  }
  body .about-me .about-me-text-wrapper .about-me-text p {
    font-size: 22px !important;
    max-width: 80%;
  }
}

body .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

body .skills .skills-header {
  position: relative;
  top: 2.5%;
  padding-top: 15px;
  width: 100%;
}

body .skills .skills-header h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 32px;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 800;
}

body .skills .skills-header h1 span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 50%;
  text-align: right;
  letter-spacing: 3px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 2px;
}

body .skills .icon {
  background-color: #fff;
  width: 50%;
  height: 25vh;
}

body .skills .icon .skill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 70%;
  margin-bottom: 0;
}

body .skills .icon .skill-icon svg {
  height: 65px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

body .skills .icon .skill-icon .angular {
  height: 80px;
}

body .skills .icon .skill-icon .javascript {
  height: 72px;
}

body .skills .icon .skill-icon .nestjs {
  height: 78px;
}

body .skills .icon .skill-icon .postgreesql {
  margin-top: 10px;
}

body .skills .icon p {
  display: inline-block;
  height: 30%;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 200;
  width: 100%;
  margin: 0;
}

@media (min-width: 540px) {
  body .skills {
    height: 50vh;
    padding-bottom: 5vh;
  }
  body .skills .skills-header {
    height: 120px;
  }
  body .skills .skills-header span {
    padding-top: 8px;
    padding-bottom: 0px;
  }
  body .skills .skills-header h1 {
    font-size: 42px;
  }
  body .skills .icon {
    width: 16.66%;
  }
  body .skills .icon .skill-icon svg {
    -webkit-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
  }
  body .skills .icon p {
    text-align: center;
    padding: 0px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 200;
  }
}

@media (min-width: 992px) {
  body .skills .skills-header h1 {
    font-size: 52px;
  }
  body .skills .icon .skill-icon svg {
    height: 95px !important;
  }
  body .skills .icon .skill-icon .javascript {
    height: 105px !important;
  }
  body .skills .icon .skill-icon .angular {
    height: 110px !important;
  }
  body .skills .icon .skill-icon .nestjs {
    height: 110px !important;
  }
  body .skills .icon p {
    padding-top: 40px;
    font-size: 20px !important;
  }
}

body .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

body .tools .tools-header {
  position: relative;
  top: 2.5%;
  padding-top: 15px;
  width: 100%;
}

body .tools .tools-header h1 {
  font-family: "Gothic A1", sans-serif;
  font-size: 32px;
  color: #fff;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 800;
}

body .tools .tools-header h1 .first {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 50%;
  text-align: right;
  letter-spacing: 3px;
  padding-right: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
}

body .tools .tools-header h1 .second {
  display: inline-block;
  padding-left: 3px;
  color: #000;
  background-color: #fff;
  width: calc(50vw - 3px);
}

body .tools .icon {
  width: 50%;
  height: 25vh;
}

body .tools .icon .tools-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 70%;
  margin-bottom: 0;
}

body .tools .icon .tools-icon svg {
  height: 65px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

body .tools .icon .tools-icon svg path {
  fill: #fff;
}

body .tools .icon .tools-icon .bootstrap {
  height: 74px;
}

body .tools .icon .tools-icon .git {
  height: 70px;
}

body .tools .icon .tools-icon .npm {
  height: 80px;
}

body .tools .icon p {
  display: inline-block;
  height: 30%;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
  width: 100%;
  margin: 0;
  color: #fff;
}

@media (min-width: 540px) {
  body .tools {
    height: 50vh;
    padding-bottom: 5vh;
  }
  body .tools .tools-header {
    height: 120px;
  }
  body .tools .tools-header span {
    padding-top: 6px;
    padding-bottom: 0px;
  }
  body .tools .tools-header h1 {
    font-size: 42px;
  }
  body .tools .icon {
    width: 16.66%;
  }
  body .tools .icon .tools-icon svg {
    -webkit-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
  }
  body .tools .icon p {
    text-align: center;
    padding: 0px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 200;
  }
}

@media (min-width: 992px) {
  body .tools .tools-header h1 {
    font-size: 52px;
  }
  body .tools .icon .tools-icon svg {
    height: 95px !important;
  }
  body .tools .icon p {
    font-size: 20px;
    padding-top: 40px;
  }
  body .tools .icon .git {
    height: 100px;
  }
  body .tools .icon .npm {
    height: 105px;
  }
}

body .projects {
  height: 100vh;
  width: 100vw;
}

body .projects .projects-header {
  width: 300px;
  height: 60px;
  padding-top: 25px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .projects .projects-header h1 {
  margin: 0;
  color: #fff;
  background-color: #000;
  font-size: 32px;
  font-family: 'Gothic A1', sans-serif;
  padding: 10px;
  text-align: center;
}

@media (min-width: 540px) {
  body .projects .projects-header {
    width: 400px;
    padding-top: 35px;
  }
  body .projects .projects-header h1 {
    font-size: 42px;
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  body .projects .projects-header {
    width: 500px;
  }
  body .projects .projects-header h1 {
    font-size: 52px;
  }
}

html {
  scroll-behavior: smooth;
}

body .form {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

body .form .contact-me {
  width: 260px;
  height: 60px;
  padding-top: 15px;
  position: relative;
  left: 50%;
  top: 12%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .form .contact-me h1 {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
  padding: 5px;
  font-size: 32px;
  text-align: center;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

body .form .contact-me::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 6px solid transparent;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .form .contact-me::after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 6px solid transparent;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .form .contact-me-active h1 {
  opacity: 1;
}

body .form .contact-me-active::before {
  height: 75px;
  width: 260px;
  border: 4px solid #fff;
  border-right: none;
  border-bottom: none;
  -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

body .form .contact-me-active::after {
  height: 75px;
  width: 260px;
  border: 4px solid #fff;
  border-left: none;
  border-top: none;
  -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

body .form form {
  position: relative;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .form form .description {
  position: relative;
  color: #fff;
  width: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body .form form .input {
  width: 250px;
  position: relative;
  height: 30px;
  background-color: #000;
  border: 2px dashed #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  color: #fff;
}

body .form form .text-message {
  width: 250px;
  position: relative;
  height: 30px;
  background-color: #000;
  border: 2px dashed #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 160px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  color: white;
}

body .form form .submit-button {
  width: 200px;
  position: relative;
  height: 40px;
  background-color: #000;
  border: 3px solid #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding: 2px;
  font-family: 'Gothic A1', sans-serif;
}

@media (min-width: 540px) {
  body .form .contact-me {
    width: 350px;
    top: 10%;
  }
  body .form .contact-me h1 {
    font-size: 42px;
    padding-top: 0;
  }
  body .form .contact-me-active::before {
    height: 78px;
    width: 350px;
    border: 4px solid #fff;
    border-right: none;
    border-bottom: none;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body .form .contact-me-active::after {
    height: 78px;
    width: 350px;
    border: 4px solid #fff;
    border-left: none;
    border-top: none;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body form {
    width: 360px;
    -webkit-transform: translate(-50%, -55%) !important;
            transform: translate(-50%, -55%) !important;
  }
  body form .input {
    width: 340px !important;
    height: 40px !important;
    font-size: 20px !important;
  }
  body form .description {
    width: 340px !important;
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  body form .text-message {
    width: 340px !important;
    height: 270px !important;
    font-size: 20px !important;
  }
  body .submit-button {
    font-size: 24px !important;
    padding: 5px !important;
    height: 50px !important;
  }
}

@media (min-width: 992px) {
  body .form .contact-me {
    position: relative;
    left: 50%;
    top: 6%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-right: 50px;
    padding-left: 50px;
  }
  body .form .contact-me h1 {
    font-size: 52px;
    padding-top: 10px;
    height: 80px;
  }
  body .form .contact-me::before {
    -webkit-transform: translateY(27px);
            transform: translateY(27px);
  }
  body .form .contact-me-active::before {
    height: 105px;
    width: 450px;
    border: 4px solid #fff;
    border-right: none;
    border-bottom: none;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body .form .contact-me-active::after {
    height: 105px;
    width: 450px;
    border: 4px solid #fff;
    border-left: none;
    border-top: none;
    -webkit-transition: height 0.5s linear, width 0.5s linear 0.5s;
    transition: height 0.5s linear, width 0.5s linear 0.5s;
  }
  body form {
    -webkit-transform: translate(-50%, -40%) !important;
            transform: translate(-50%, -40%) !important;
  }
  body form .input {
    width: 450px !important;
    height: 40px !important;
    font-size: 22px !important;
  }
  body form .description {
    width: 450px !important;
    font-size: 20px !important;
  }
  body form .text-message {
    width: 450px !important;
    height: 300px !important;
    font-size: 22px !important;
  }
  body form .submit-button {
    margin-top: 30px !important;
    font-size: 28px !important;
    width: 300px !important;
  }
}
/*# sourceMappingURL=style.css.map */