<p>projects works!</p>
<section class="projects">
    <div class="container">
        <h2 class="projects__heading projects__heading--center">Projekty i realizacje</h2>

        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let project of projects">
                <div class="projects__card">
                    <div class="projects__glare"></div>
                    <div class="projects__dots"></div>
                    <div class="projects__content">
                        <div class="projects__badge">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <h3 class="projects__title">{{ project.title }}</h3>
                        <p class="projects__description">{{ project.description }}</p>
                        
                        <div class="projects__links">
                            <a [href]="project.preview" class="projects__link projects__link--preview">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                                Podgląd
                            </a>
                            <a [href]="project.github" class="projects__link projects__link--github">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                </svg>
                                Kod
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>