<div class="header row">
    <div class="header__header col-12 mt-5 pt-5">
        <h1 class="header__header-first">Szymon Sulejczak</h1>
        <h1 class="header__header-second">Web Developer.</h1>
    </div>
    <div class="header__description col-12 mt-sm-3">
        <p class="header__description-text">
            Witaj na mojej stronie jestem programistą webowym zajmującym się tworzeniem aplikacji w 
            nowoczesnych technologiach. Na codzień tworze aplikacje w <span class="header__technology">ASP.NET Core</span> oraz frameworku 
            <span class="header__technology">Angular</span>
        </p>
    </div>
    <div class="header__button-wrapper col-12 mt-sm-3">
        <button type="button" class="btn btn-secondary header__button">Napisz do mnie</button>
    </div>
    <div class="header__image-wrapper col-12 mt-5 d-flex justify-content-end">
        <img src="../../assets/header-image.svg" class="header__image">
    </div>
</div>
