@import '../../variables';

.header
{
    min-height: 100vh;
    .header__header
    {
        color: $color-fourth;
        .header__header-first, .header__header-second
        {
            font-size: 36px;
        }
    }
    .header__description
    {
        color: $color-third;
        padding-right: 20%;
        .header__description-text
        {
            font-size: 14px;
            .header__technology
            {
                font-weight: 700;
                color: $color-fifth;
            }
        }
    }
    .header__button-wrapper
    {
        .header__button
        {
            background: $color-third;
            color: $color-first;
            font-weight: 600;
            font-size: 18px;
            border: none;
            border-radius: 20px;
            outline: none;
            &:hover
            {
                outline: none;
                background: $color-fourth; 
            }
        }
    }

    .header__image-wrapper
    {
        height: auto;
        .header__image
        {
            width: 80%;
        }
    }
}

@media (min-width: 576px)
{
    .header
    {
        .header__header
        {
            .header__header-first, .header__header-second
            {
                font-size: 46px;
            }
        }
        .header__description
        {
            padding-right: 40%;
            .header__description-text
            {
                font-size: 16px;
            }
        }
        .header__button-wrapper
        {
            .header__button
            {
                font-size: 20px;
                border-radius: 30px;
            }
        }
    }
}

@media (min-width: 768px)
{
    .header
    {
        .header__header
        {
            .header__header-first, .header__header-second
            {
                font-size: 54px;
            }
        }
        .header__description
        {
            padding-right: 50%;
            .header__description-text
            {
                font-size: 18px;
            }
        }
        .header__button-wrapper
        {
            .header__button
            {
                font-size: 24px;
                border-radius: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media (min-width: 992px)
{
    .header
    {
        .header__header
        {
            .header__header-first, .header__header-second
            {
                font-size: 56px;
            }
        }
        .header__description
        {
            padding-right: 15%;
            
        }
        .header__image-wrapper
        {
            height: 100vh;
            padding-bottom: 10%;
            .header__image
            {
                width: 100%;
                height: fit-content;
            }
        }
    }
}

@media (min-width: 1400px)
{
    .header
    {
        .header__description
        {
            padding-right: 10%;
            .header__description-text
            {
                font-size: 20px;
            }
            
        }
        .header__image-wrapper
        {
            height: 100vh;
            padding-bottom: 10%;
            .header__image
            {
                width: 100%;
                height: fit-content;
            }
        }
        .header__button-wrapper
        {
            .header__button
            {
                font-size: 26px;
                border-radius: 30px;
            }
        }

        .header__image-wrapper
        {
            padding-bottom: 25%;
        }
    }
}