<section class="about d-flex flex-wrap row">
    <div class="about__header order-1 col-12 pl-4 mt-5 pl-lg-0">
        <div class="about__header-content">
            <h2 class="about__header-text">O mnie</h2>
        </div>
    </div>
    <div class="about__image-wrapper order-3 col-12 pl-4 mt-3 order-lg-2 col-lg-7 mt-lg-3 pl-lg-0">
        <img class="about__image" src="../../assets/about-image.svg">
    </div>
    <div class="about__text-wrapper order-2 col-12 pl-4 mt-2 order-lg-3 col-lg-5 mt-lg-2 pl-lg-3">
        <p class="about__text">
            Mam na imię Szymon i interesuję się tworzeniem aplikacji webowych. 
            Moja przygoda z programowaniem rozpoczeła się w 2018 roku na kierunku 
            informatycznym w technikum. Obecnie jestem studentem informatyki a w 
            wolnych chwilach tworze aplikacje webowe w organizacji <a class="about__link" href="https://sitero.net/">sitero.net</a> z 
            grupą znajomych. Programowanie jest moją pasją, ale interesuje mnie 
            także rozwój osobisty i doskonalenie umiejętności miękkich. W wolnym 
            czasie lubie czytać książki i uprawiać sport.
        </p>
    </div>
</section>
