@import '../../variables';

.about
{
    .about__header
    {    
        .about__header-content
        {
            width: fit-content;
            .about__header-text
            {
                color: $color-fourth;
                &::after
                {
                    content: "";
                    height: 5px;
                    border-radius: 5px;
                    background-color: $color-second;
                    
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: 2px;
                }
            }
        }
    }
    .about__text-wrapper
    {
        .about__text
        {
            color: $color-third;
            .about__link
            {
                color: $color-fifth;
                font-weight: 700;
            }
        }
    }

    .about__image-wrapper
    {
        .about__image
        {
            width: 100%;
        } 
    }
}

@media(min-width: 768px)
{
    .about
    {
        .about__header
        {
            .about__header-content
            {
                .about__header-text
                {
                    font-size: 42px;
                    &::after
                    {
                        height: 8px;
                    }
                }
            }
        }

        .about__text-wrapper
        {
            .about__text
            {
                font-size: 18px;
            }
        }
    }
}

@media(min-width: 768px)
{
    .about
    {
        .about__text-wrapper
        {
            .about__text
            {
                margin: 0;
                font-size: 18px;
            }
        }
    }
}