<section class="about" id="about">
    <div class="about__container">
        <div class="about__header">
            <h2 class="about__title">Ścieżka rozwoju</h2>
            <p class="about__subtitle">Historia mojej edukacji i doświadczenia zawodowego</p>
        </div>
        <div class="about__cards">
            <article class="about__card about__card--experience">
                <div class="about__card-header">
                    <div class="about__icon-wrapper">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <h3 class="about__card-title">Doświadczenie zawodowe</h3>
                </div>
                <div class="about__card-body">
                    <div class="about__timeline">
                        <div class="about__timeline-item">
                            <div class="about__timeline-date">2024 - Obecnie</div>
                            <h4 class="about__timeline-title">Nauczyciel Przedmiotów Branży Informatycznej</h4>
                            <p class="about__company">ZST Mikołów</p>
                            <ul class="about__responsibilities">
                                <li class="about__responsibility">Bazy Danych</li>
                                <li class="about__responsibility">Technologie Webowe</li>
                                <li class="about__responsibility">Programowanie w języku Python</li>
                            </ul>
                        </div>
                        <div class="about__timeline-item">
                            <div class="about__timeline-date">2020 - Obecnie</div>
                            <h4 class="about__timeline-title">Web Developer</h4>
                            <p class="about__company">Freelance</p>
                            <ul class="about__responsibilities">
                                <li class="about__responsibility">Strony firmowe</li>
                                <li class="about__responsibility">Aplikacje Internetowe</li>
                                <li class="about__responsibility">Witryny Wordpress</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>

            <article class="about__card about__card--education">
                <div class="about__card-header">
                    <div class="about__icon-wrapper">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <h3 class="about__card-title">Wykształcenie</h3>
                </div>
                <div class="about__card-body">
                    <div class="about__education-item">
                        <h4 class="about__education-title">Studia Informatyczne</h4>
                        <p class="about__institution">WSTI Katowice</p>
                        <div class="about__education-details">
                            <span class="about__degree">II Stopień</span>
                            <span class="about__dates">2024 - Obecnie</span>
                        </div>
                        <ul class="about__achievements">
                            <li class="about__achievement">Specjalizacja: Bezpieczeństwo sieci i systemów teleinformatycznych</li>
                        </ul>
                    </div>
                    <div class="about__education-item">
                        <h4 class="about__education-title">Studia Informatyczne</h4>
                        <p class="about__institution">WSTI Katowice</p>
                        <div class="about__education-details">
                            <span class="about__degree">Inżynier</span>
                            <span class="about__dates">2020 - 2024</span>
                        </div>
                        <ul class="about__achievements">
                            <li class="about__achievement">Specjalizacja: Inżynieria oprogramowania</li>
                        </ul>
                    </div>
                    <div class="about__education-item">
                        <h4 class="about__education-title">Technikum Informatyczne</h4>
                        <p class="about__institution">ZST Mikołów</p>
                        <div class="about__education-details">
                            <span class="about__degree">Technik</span>
                            <span class="about__dates">2016 - 2020</span>
                        </div>
                    </div>
                </div>
            </article>

            <article class="about__card about__card--skills">
                <div class="about__card-header">
                    <div class="about__icon-wrapper">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <h3 class="about__card-title">Obszary Działalności</h3>
                </div>
                <div class="about__card-body">
                    <div class="about__skills-grid">
                        <div class="about__skill-category">
                            <h5 class="about__skill-title">Co tworzę?</h5>
                            <ul class="about__skill-list">
                                <li class="about__skill"><strong>Aplikacje internetowe</strong><br>nowoczesne, responsywne i dostosowane do potrzeb użytkowników.</li>
                                <li class="about__skill"><strong>Strony firmowe i wizytówkowe</strong><br>profesjonalne strony prezentujące działalność firmy.</li>
                                <li class="about__skill"><strong>Aplikacje mobilne</strong><br>na systemy Android oraz iOS, zoptymalizowane pod kątem wydajności i UX.</li>
                                <li class="about__skill"><strong>Strony internetowe na CMS</strong><br>oparte na popularnych systemach zarządzania treścią, takich jak WordPress.</li>
                                <li class="about__skill"><strong>Materiały edukacyjne</strong><br>z zakresu programowania, baz danych i technologii informatycznych.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>