@import '../../variables';

.skills
{
    .skills__header
    {    
        .skills__header-content
        {
            width: fit-content;
            .skills__header-text
            {
                color: $color-fourth;
                &::after
                {
                    content: "";
                    height: 5px;
                    border-radius: 5px;
                    background-color: $color-second;
                    
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: 2px;
                }
            }
        }
    }

    .skills__skills
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 200px;
        
        .iconify
        {
            color: $color-third;
            font-size: 50px;
            padding: 5px;
            transition: color 0.5s;
            &:hover
            {
                color: $color-fourth;
            }
        }
        
    }

    .skills__image-wrapper
    {
        .skills__image
        {
            width: 100%;
        }
    }
}

@media(min-width: 576px)
{
    .skills
    {
        .skills__skills
        {
            
            .iconify
            {
               
                font-size: 65px;
                
            }
            
        }
    }
}

@media(min-width: 768px)
{
    .skills
    {
        .skills__header
        {    
            .skills__header-content
            {
                .skills__header-text
                {
                    font-size: 42px;
                    &::after
                    {
                        height: 8px;
                    }
                }
            }
        }
        .skills__skills
        {
            
            .iconify
            {
               
                font-size: 70px;
                
            }
            
        }
        .skills__image-wrapper
        {
            .skills__image
            {
                width: 80%;
            }
        }
    }
}

@media(min-width: 992px)
{
    .skills
    {
        .skills__skills
        {
            
            .iconify
            {
               
                font-size: 60px;
                
            }
            
        }
        .skills__image-wrapper
        {
            .skills__image
            {
                width: 70%;
            }
        }
    }
}