<section class="skills d-flex flex-wrap row justify-content-center" id="skills">
    <div class="skills__header col-12 pl-4 mt-5 pt-4 pl-lg-0 mb-lg-5 pt-md-5">
        <div class="skills__header-content">
            <h2 class="skills__header-text">Umiejętności</h2>
        </div>
    </div>
    <div class="skills__skills col-12 col-sm-10 col-md-12 pl-4 mt-4 mt-md-5 col-lg-5 mt-lg-5 pl-lg-0">
        <span class="iconify" data-icon="mdi:dot-net"></span>
        <span class="iconify" data-icon="akar-icons:angular-fill"></span>
        <span class="iconify" data-icon="cib:typescript"></span>
        <span class="iconify" data-icon="mdi:language-csharp"></span>
        <span class="iconify" data-icon="akar-icons:javascript-fill"></span>
        <span class="iconify" data-icon="ion:logo-figma"></span>
        <span class="iconify" data-icon="cib:html5"></span>
        <span class="iconify" data-icon="simple-icons:css3"></span>
        <span class="iconify" data-icon="simple-icons:mongodb"></span>
        <span class="iconify" data-icon="cib:visual-studio"></span>
        <span class="iconify" data-icon="mdi:microsoft-azure"></span>
        <span class="iconify" data-icon="mdi:microsoft-visual-studio-code"></span>
        <span class="iconify" data-icon="cib:postgresql"></span>
        <span class="iconify" data-icon="simple-icons:npm"></span>
        <span class="iconify" data-icon="akar-icons:sass-fill"></span>
        <span class="iconify" data-icon="cib:bootstrap"></span>
        <span class="iconify" data-icon="cib:mysql"></span>
        <span class="iconify" data-icon="simple-icons:microsoftsqlserver"></span>
    </div>
    <div class="skills__image-wrapper col-12 pl-4 pt-2 pb-5 pt-sm-5 mt-sm-5 mb-sm-5 d-flex justify-content-center col-lg-7 mt-lg-1 pt-lg-0">
        <img class="skills__image" src="../../assets/skills-image.svg">
    </div>
</section>
