/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import './variables';

.body
{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: $color-first;
    font-family: $font-family;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $color-third;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $color-third;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $color-third;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }